[Unit]
Description=Ansible pull (config-mgmt)
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-pull -U {{ config_repo_url }} -C main --vault-password-file /root/.vault_key -i localhost, local.yml
