[Unit]
Description=Ansible Playbook
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=ansible-svc
WorkingDirectory=/home/ansible-svc
ExecStart=/usr/bin/ansible-pull -U https://github.com/h1dden30/ansible.git update.yml